@model EventResult


<div class="container">
    <form asp-controller="News" asp-action="AddEventToForum">
        <input asp-for="Id" hidden />
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <div class="card-header">
                            <img class="img-fluid rounded-start" style="height: 250px;" src="@Model.Image"/>
                            <input asp-for="Image" hidden/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="text-center m-auto">
                                <span class="badge bg-primary m-auto">Event Type: @Model.EventType.Name</span>
                                <input asp-for="EventType.Name" hidden/>
                                <span class="badge bg-success m-auto">Location: @Model.Location</span>
                                <input asp-for="Location" hidden/>
                                @if (Model.LiveWebcast)
                                {
                                    <span class="badge bg-info m-auto">
                                        <a href="@Model.VideoURL">Live Video Stream</a>
                                        <input asp-for="VideoURL" hidden/>
                                    </span>
                                }
                                else
                                {
                                    <span class="badge text-bg-primary m-auto">No Live Stream Available</span>
                                }
                            </div>
                            <h5 class="card-title">@Model.Name</h5>
                            <input asp-for="Name" hidden/>
                            @if (Model.NewsURL != null)
                            {
                                <a class="card-text" href="@Model.NewsURL">Article</a>
                                <input asp-for="NewsURL" hidden/>
                            }
                            <p class="card-text">@Model.Description</p>
                            <input asp-for="Description" hidden/>
                            <p class="card-text"><small class="text-muted">@Model.Date</small></p>
                            <input asp-for="Date" hidden/>
                            @if (Model.postId == 0)
                            {
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <select class="dropdown" asp-for="@Model.RoomId">
                                        <option value="1">General Discussion</option>
                                        <option value="2">Advanced Topics</option>
                                        <option value="3">International Space Station</option>
                                        <option value="4">Q&A Section</option>
                                        <option value="5">SpaceX</option>
                                        <option value="6">Images & Videos</option>
                                        <option value="7">Upcoming Events</option>
                                    </select>
                                    <input type="submit" value="Start a discussion" class="btn btn-primary" />
                                }
                            }
                            else
                            {
                                <a class="btn btn-success" asp-action="ViewPost" asp-controller="Forum" asp-route-postId="@Model.postId">View discussion</a>
                            } 
                        </div>
                    </div>
                </div>
            </div>
          
        </form>
</div>