@model EventResult

@{
    int index = (int)ViewData["index"];
}

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <div class="card-header">
                    <img class="img-fluid rounded-start" style="height: 250px;" src="@Model.Image"/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="text-center m-auto">
                        @if (Model.EventType.Name != null)
                        {
                            <span class="badge bg-primary m-auto">Event Type: @Model.EventType.Name</span>
                        }
                        @if (Model.Location != null)
                        {
                            <span class="badge bg-success m-auto">Location: @Model.Location</span>
                        }
                        @if (Model.LiveWebcast)
                        {
                            <a class="badge bg-info m-auto" href="@Model.VideoURL">Video Stream</a>
                        }
                    </div>
                    <h5 class="card-title mt-3">@Model.Name</h5>
                    <p class="card-text">@Model.Description</p>
                    <p class="card-text"><small class="text-muted">@Model.Date</small></p>
                    @if (Model.NewsURL != null)
                    {
                        <a class="btn btn-success btn-sm" href="@Model.NewsURL">View Article</a>
                    }
                    @if (Model.postId == 0)
                    {
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#postEvent_@index">New Post</a>
                        }
                    }
                    else
                    {
                        <a class="btn btn-success btn-sm" asp-action="ViewPost" asp-controller="Forum" asp-route-postId="@Model.postId">View discussion</a>
                    }
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="postEvent_@index">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">New Post</h2>
            </div>
            <div class="modal-body">
                <form asp-controller="Media" asp-action="AddEventToForum">
                    <input asp-for="Id" hidden/>
                    <input asp-for="Image" hidden/>
                    <input asp-for="EventType.Name" hidden/>
                    <input asp-for="Location" hidden/>
                    <input asp-for="VideoURL" hidden/>
                    <input asp-for="Name" hidden/>
                    <input asp-for="NewsURL" hidden/>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Forum Room</label>
                        <select class="dropdown form-control" asp-for="@Model.RoomId">
                            <option value="1">General Discussion</option>
                            <option value="2">Advanced Topics</option>
                            <option value="3">International Space Station</option>
                            <option value="4">Q&A Section</option>
                            <option value="5">SpaceX</option>
                            <option value="6">Images & Videos</option>
                            <option value="7">Events</option>
                        </select>
                    </div>
                    <input asp-for="Date" hidden/>
                    <div class="d-flex w-100 justify-content-between">
                        <div></div>
                        <div>
                            <input type="submit" value="Post" class="btn btn-success btn-sm" />
                            <a href="#" id="btnDeletePostCancel" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>