@model User

<div class="container">
    <p>@Model.UserName</p>
    <p>@Model.DateCreated</p>
    <p>@Model.Color</p>
    <h5>@Model.Posts.Count Posts</h5>
    @foreach (var item in Model.Posts)
    {
        <div class="card">
            <div class="card-header">
                <p>@item.Title</p>
                <p>@item.DatePosted</p>
                <a class="btn btn-success" asp-controller="Forum" asp-action="ViewPost" asp-route-postId="@item.PostId">View Discussion</a>
            </div>
            <div class="card-body">
                <p>@item.Message</p>
            </div>
        </div>
    }
    <h5>@Model.Responses.Count Responses</h5>
    @foreach (var item in Model.Responses)
    {
        <div class="card">
            <div class="card-header">
                <p>@item.DatePosted</p>
                <a class="btn btn-success" asp-controller="Forum" asp-action="ViewPost" asp-route-postId="@item.PostId">View Discussion</a>
            </div>
            <div class="card-body">
                <p>@item.Message</p>
            </div>
        </div>
    }
</div>