@model Week15Project.Models.News.NASA_POTD

@{
    ViewData["Title"] = "NASA Picture Of The Day";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container d-flex justify-content-center align-items-center">
                <div class="card" style="max-width: 80%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            @if (Model.MediaType == "image")
                            {
                                <img src="@Model.Url" class="img-fluid rounded-start" alt="NASA Image of the Day">
                            }
                            else if (Model.MediaType == "video")
                            {
                                <div class="ratio ratio-16x9">
                                    <iframe src="@Model.Url" title="@Model.Title"></iframe>
                                </div>
                            }
                            else
                            {
                                <p>Media Not Supported</p>
                            }
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@Model.Title</h5>
                                <p class="card-text">@Model.Explanation</p>
                                <p class="card-text"><small class="text-muted">@Model.DatePosted.ToShortDateString()</small></p>

                                @if (Model.postId == 0)
                                {
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#postNASAPhoto">New Post</a>
                                    }
                                }
                                else
                                {
                                    <a class="btn btn-success btn-sm" asp-action="ViewPost" asp-controller="Forum" asp-route-postId="@Model.postId">View discussion</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a asp-controller="Media" asp-action="NasaPOTD" asp-route-date="@Model.DatePosted.AddDays(-1)" class="carousel-control-prev" type="button">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    @if (Model.DatePosted < DateTime.Today)
    {
        <a asp-controller="Media" asp-action="NasaPOTD" asp-route-date="@Model.DatePosted.AddDays(1)" class="carousel-control-next" type="button">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    }
</div>


<div class="modal fade" id="postNASAPhoto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">New Post</h2>
            </div>
            <div class="modal-body">
                <form asp-controller="Media" asp-action="AddPOTDToForum">
                    <input asp-for="Url" hidden />
                    <input asp-for="DatePosted" hidden />
                    <input asp-for="MediaType" hidden />
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Explanation" class="control-label"></label>
                        <textarea asp-for="Explanation" class="form-control" rows="10"></textarea>
                    </div>
                    <div class="d-flex w-100 justify-content-between">
                        <div></div>
                        <div>
                            <input type="submit" value="Post" class="btn btn-success btn-sm" />
                            <a href="#" id="btnDeletePostCancel" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>