@model Room
@{
    ViewData["Title"] = "ViewRoom";
}

<div class="container">
    <div class="m-auto">
    <div class="card">
        <div class="card-header d-flex">
            <h1 class="p-2 me-auto">@Model.RoomName</h1>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-success" asp-controller="Forum" asp-action="NewPost" asp-route-roomID="@Model.RoomId">New Post</a>
                }
        </div>
        <div class="card-body">
            @foreach (var item in Model.Posts)
            {
                <div class="card">
                    <div class="card-header">
                        <a asp-controller="Forum" asp-action="ViewPost" asp-route-postId="@item.PostId">
                            <h4 class="m-auto">@item.Title</h4>
                            <p>Posted on: @item.DatePosted at @item.DatePosted.ToShortTimeString()</p>
                            @if (item.User != null)
                            {
                                <h6 class="m-auto">Posted by: @item.User.UserName</h6>
                            }
                            else
                            {
                                <p>Posted by: deleted</p>
                            }
                            </a>
                    </div>
                    <div class="card-body">
                        <a href="@item.WebURL">@item.WebURL</a>
                        <p>@item.Message</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
</div>
