@model Post

<div class="container">
    <div class="card">
        <div class="card-header">
            @Model.Title
            <p>Posted on: @Model.DatePosted.ToShortDateString() at @Model.DatePosted.ToShortTimeString()</p>
            @if (Model.User != null)
            {
                <p>Posted by: @Model.User.UserName</p>
            }
            else
            {
                <p>Posted by: deleted</p>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-success" asp-action="NewResponse" asp-controller="Forum" asp-route-postID="@Model.PostId">Respond</a>
            }
        </div>
        <div class="card-body">
            @Model.Message
        </div>
    </div>
    <table class="table">
        @foreach (var response in Model.Responses)
        {
            <tr>
                <td>
                    <div class="card">
                        <div class="card-header">
                            Posted on: @response.DatePosted.ToShortDateString() at @response.DatePosted.ToShortTimeString()
                            @if (response.User != null)
                            {
                                <p>Posted by: @response.User.UserName</p>
                            }
                            else
                            {
                                <p>Posted by: deleted</p>
                            }
                        </div>
                        <div class="card-body">
                            @response.Message
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>