@model RoomViewModel
@{
    ViewData["Title"] = "ViewRoom";
}

<div class="container">
    <div class="m-auto">
    <div class="card">
        <div class="card-header d-flex">
            <h1 class="p-2 me-auto">@Model.Room.RoomName</h1>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-success" asp-controller="Forum" asp-action="NewPost" asp-route-roomID="@Model.Room.RoomId">New Thread</a>
                }
        </div>
        <div class="card-body">
            @foreach (var item in Model.Posts)
            {
                <div class="card">
                    <div class="card-header">
                        <a asp-controller="Post" asp-action="ViewPost" asp-route-postId="@item.PostId">
                            <h4 class="m-auto">@item.Title</h4>
                        </a>
                    </div>
                    <div class="card-body">
                        <p>@item.Message</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
</div>
