@model Post

<div class="container">
    <div class="m-auto">
        <div class="card">
            <div class="card-header">
                <div class="list-group">
                    <h1 class="p-2 me-auto">@Model.Room.RoomName</h1>
                    <div class="list-group-item bg-light">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@Model.Title</h5>
                            <small>@Model.DatePosted.ToShortDateString() at @Model.DatePosted.ToShortTimeString()</small>
                        </div>
                        @if (Model.User != null)
                        {
                            <p>Posted by <a asp-controller="Account" asp-action="ViewUserProfile" asp-route-id="@Model.UserId">@Model.User.UserName</a> </p>
                        }
                        else
                        {
                            <small>User Deleted</small>
                        }
                        <img src="@Model.UserImage" class="img-fluid rounded-start" alt="@Model.Title"/>
                        <p class="mb-1">@Html.Raw(@Model.Message.Replace("\n", "<br/>"))</p>
                        <div class="d-flex w-100 justify-content-between">
                            <div></div>
                            @if (Model.User.UserName == User.Identity.Name)
                            {
                                <div>
                                    <a class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editPostModal"><img src="/icons/edit.png" height="20"/> Edit</a>
                                    <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deletePostModal"><img src="/icons/delete.png" height="20"/> Delete</a>
                                </div>   
                            }
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-success" asp-controller="Forum" asp-action="NewResponse" asp-route-postID="@Model.PostId">Respond</a>
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="list-group">
                    @foreach (var item in Model.Responses)
                    {
                        <div class="list-group-item mb-3 border">
                            <div class="d-flex w-100 justify-content-between">
                                @if (item.User != null)
                                {
                                    <p>Posted by <a asp-controller="Account" asp-action="ViewUserProfile" asp-route-id="@item.User.Id">@item.User.UserName</a></p>
                                }
                                else
                                {
                                    <h6 class="mb-1">User Deleted</h6>
                                }
                                <small>@item.DatePosted.ToShortDateString() @item.DatePosted.ToShortTimeString()</small>
                            </div>
                            <p class="mb-1">@Html.Raw(@item.Message.Replace("\n", "<br/>"))</p>
                            <div class="d-flex w-100 justify-content-between">
                                <div></div>
                                <div>
                                    @if (Model.User.UserName == User.Identity.Name)
                                    {
                                        <a class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editResponseModal"><img src="/icons/edit.png" height="20"/> Edit</a>
                                        <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteResponseModal"><img src="/icons/delete.png" height="20"/> Delete</a>
                                    }
                                </div>
                            </div>
                        </div>


                        <div class="modal fade" id="editResponseModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title">Edit Response</h2>
                                    </div>
                                    <div class="modal-body">
                                        @await Html.PartialAsync("_EditResponsePartial", item)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="deleteResponseModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title">Confirm Delete</h2>
                                    </div>
                                    <div class="modal-body">
                                        @await Html.PartialAsync("_DeleteResponsePartial", item)
                                    </div>
                                </div>
                            </div>
                        </div>


                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deletePostModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Confirm Delete</h2>
            </div>
            <div class="modal-body">
                <form id="deletePostForm" asp-action="DeletePost">
                    <a class="btn btn-danger btn-sm" asp-controller="Forum" asp-action="DeletePost" asp-route-postId="@Model.PostId">Confirm</a>
                    <a href="#" id="btnDeletePostCancel" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editPostModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Edit Post</h2>
            </div>
            <div class="modal-body">
                <form id="editPostForm" asp-action="EditPost">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="PostId" hidden />
                    <input asp-for="UserId" hidden />
                    <input asp-for="RoomId" hidden />
                    <input asp-for="DatePosted" hidden />
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Message" class="control-label"></label>
                        <textarea asp-for="Message" class="form-control" rows="10"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserImage" class="control-label">Image</label>
                        <input asp-for="UserImage" class="form-control" />
                        <span asp-validation-for="UserImage" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WebURL" class="control-label">Web Link</label>
                        <input asp-for="WebURL" class="form-control" />
                        <span asp-validation-for="WebURL" class="text-danger"></span>
                    </div>
                    <input asp-for="EventId" hidden />
                    <input asp-for="POTDDate" hidden />
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success btn-sm" />
                        <a href="#" id="btnEditPostCancel" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>