@model Week15Project.Models.News.NASA_POTD

@{
    ViewData["Title"] = "NasaPOTD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePosted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Explanation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Explanation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Url" class="img-fluid rounded-start" style="height: 250px;"/>
        </dd>
    </dl>
</div>*@

<div class="container">
    <form asp-controller="News" asp-action="AddPOTDToForum">
        @Html.DisplayFor(model => model.DatePosted)
        <input asp-for="DatePosted" hidden />
        @Html.DisplayFor(model => model.Explanation)
        <input asp-for="Explanation" hidden />
        @Html.DisplayFor(model => model.Title)
        <input asp-for="Title" hidden />
        <img src="@Model.Url" class="img-fluid rounded-start" style="height: 250px;"/>
        <input asp-for="Url" hidden />
        @if (Model.postId == 0)
        {
            @if (User.Identity.IsAuthenticated)
        {
            <input type="submit" value="Start a discussion" class="btn btn-primary" />
        }
        }
        else
        {
            <a class="btn btn-success" asp-action="ViewPost" asp-controller="Forum" asp-route-postId="@Model.postId">View discussion</a>
        }
    </form>
</div>

<div>
    <a class="btn btn-success" asp-controller="News" asp-action="NasaPOTD" asp-route-date="@Model.DatePosted.AddDays(-1)">View Previous</a>
    @if (Model.DatePosted < DateTime.Today)
    {
        <a class="btn btn-success" asp-controller="News" asp-action="NasaPOTD" asp-route-date="@Model.DatePosted.AddDays(1)">View Next</a>
    }
</div>